.Cart {
    padding: 20px 0;
}

.cart-header h1 {
    font-size: 30px;
    font-weight: normal;
    color: rgb(45, 15, 73);
    position: relative;
    display: inline-block;
    margin: auto;
}

.cart-header h1::after {
    content: '';
    width: 35px;
    height: 35px;
    border-radius: 50px 0 50px 0;
    background: rgba(15, 48, 192, 0.287);
    position: absolute;
    right: -15%;
    top: -15%;
    transform: rotate(-10deg);
}

.choose-btn button {
    padding: 7px 15px;
    margin: 0 10px;
    border: 1px solid blueviolet;
    outline: none;
    background: blueviolet;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.choose-btn button:last-child {
    background: rgb(119, 2, 47);
}

.choose-btn button:hover {
    background: transparent;
    color: blueviolet;
    transition: 0.3s;
}

.choose-btn button:last-child:hover {
    background: transparent;
    color: rgb(119, 2, 47);
    transition: 0.3s;
}





.choose-card {
    background: rgb(255, 255, 255);
    width: 70%;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(48, 47, 48, 0.109);
}

.choose-icon-image img {
    background: rgba(119, 32, 160, 0.411);
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.choose-card h3 {
    font-size: 20px;
    font-weight: 400;
    color: blueviolet;
}

.choose-card .delete-icon {
    font-size: 24px;
    color: rgb(64, 8, 90)
}